// Culori Spotify
$spotify-dark: #121212;
$spotify-light: #FFFFFF;
$spotify-gray: #B3B3B3;

.songDisplay {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: $spotify-gray;
  background-color: $spotify-dark;
  text-align: left;
  font-family: Arial;
  font-size: 14px;
  overflow: hidden;
  height: 85px;

  &:hover {
    background-color: #2a2a2a;
    border-radius: 5px;
  }

  @media (max-width: 800px) {
    padding: 10px;
    flex-wrap: nowrap;
    overflow-x: auto; 
  }
}

.index {
  text-align: center;
  font-weight: bold;
  min-width: 40px;

  @media (max-width: 800px) {
    display: none;
  }
}

.mainDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  width: 400px;

  
  @media (max-width: 800px) {
    flex: 3;
    min-width: auto;
    padding-right: 10px;
  }
}
.author{
  cursor: pointer;
}
.songName
{
  color: $spotify-light;
  font-size: 16px;
}

.album {
  flex: 2;
  color: $spotify-gray;
  text-align: left;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  @media (max-width: 800px) {
    display: none;
  }
}

.creationDate {
  flex: 1;
  color: $spotify-gray;
  text-align: left;

  @media (max-width: 800px) {
    display: none;
  }
}

.duration {
  flex: 0 0 100px; 
  text-align: right;
  color: $spotify-gray;
  padding-right: 50px;

  @media (max-width: 800px) {
    flex: 1; 
}
}

img
{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%; 
}

