<div class="page-container">
  <div class="songListContainer">
    <div class="searchContainer">
      <input type="text" class="search" [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="What do you want to play?" />
    </div>
    <div *ngIf="filteredItems.length > 0">
      <div *ngFor="let song of filteredItems; let i = index" class="songDisplay">
        <p class="index">{{ i + 1 }}</p>
        <img [src]="song.imageUrl" (click)="playSong(song)">
        <div class="mainDetails">
          <span class="songName">{{ song.title }}</span>
          <span class="author" (click)="onArtistClick(song)">{{ song.author }}</span>
        </div>
        <p class="album" (click)="onAlbumClick(song)">{{ song.album }}</p>
        <p class="creationDate">{{ song.creationDate | date: 'mediumDate' }}</p>
        <!-- <img [src]="getImageUrl(song)" (click)="onLikeSong(song, $event)"> -->

        <button class="like-button" (click)="onLikeSong(song, $event)">{{getImageUrl(song)}}</button>
        <p class="creationDate">{{ song.likes }}</p>
        <button class="add-playlist-button" (click)="addSongToUserPlaylist(song)">{{getPlaylistButtonIcon(song)}}</button>
        <p class="duration">{{ getFormattedDuration(song.duration) }}</p>
      </div>
    </div>
    <div *ngIf="errorMessage" class="errorMessage">
      <p><br><br><br><br><br><br>{{ errorMessage }}</p>
    </div>
  </div>
  <app-audio-player #audioPlayer [currentSong]="currentSong" (songChanged)="onSongChanged($event)"
    (requestNextSong)="onNextSongRequested()" (requestPreviousSong)="onPreviousSongRequested()"></app-audio-player>
</div>
