<div class="songListContainer">
<div *ngFor="let song of songList; let i = index " class = "songDisplay">
    <p class="index">{{i+1}}</p>
    <img src={{song.imageUrl}}>
    <div class="mainDetails">
        <span class="songName">{{song.songName}}</span>
        <span class="author" (click)="onArtistClick(song)" >{{song.author}}</span>
    </div>
    <p class="album" (click)="onAlbumClick(song)">{{song.album}}</p>
    <p class="creationDate">{{song.creationDate | date: 'mediumDate'}}</p>
    <p class="duration">{{getFormattedDuration(song.duration)}}</p>
</div>
</div>