<div class="page-container">
  <div class="songListContainer">
    <div class="searchContainer">
      <input type="text" class="search" [(ngModel)]="searchTerm" (input)="onSearch()"
        placeholder="What do you want to play?" />
      <mat-icon class="like-button" matTooltip="View your playlist" mat-list-icon (click)="onPlayListClick()">library_music</mat-icon>
    </div><br><br><br>
    <div *ngIf="filteredItems.length > 0">
      <div *ngFor="let song of filteredItems; let i = index" class="songDisplay"
        [ngClass]="{'highlighted': song === currentSong}">
        <p class="index">{{ i + 1 }}</p>
        <img src="https://i.pinimg.com/564x/94/fe/aa/94feaab7c012474e771e8b281a234a1d.jpg" (click)="playSong(song)">
        <div class="mainDetails">
          <span class="songName">{{ song.title }}</span>
          <span class="author">
            <ng-container *ngFor="let artist of splitArtist(song.author)">
              <span matTooltip="View top songs" (click)="onArtistClick(artist)">{{ artist }}</span>
            </ng-container></span>
        </div>
        <p class="album" (click)="onAlbumClick(song)">{{ song.album }}</p>
        <p class="creationDate">{{ song.creationDate | date: 'mediumDate' }}</p>
        <mat-icon class="like-button" matTooltip="Like song" mat-list-icon (click)="onLikeSong(song, $event)">{{getImageUrl(song)}}</mat-icon>

        <p class="creationDate">{{ song.likes }}</p>
        <mat-icon class="add-playlist-button" matTooltip="Add to playlist" mat-list-icon (click)="addSongToUserPlaylist(song)">{{getPlaylistButtonIcon(song)}}</mat-icon>
        <p class="duration">{{ getFormattedDuration(song.duration) }}</p>
      </div>

    </div>
    <div *ngIf="errorMessage" class="errorMessage">
      <p><br><br><br><br><br><br>{{ errorMessage }}</p>
    </div>
  </div><br><br><br><br><br><br><br>
  <app-audio-player #audioPlayer [currentSong]="currentSong" [listOfSongs]="filteredItems"
    (songChanged)="onSongChanged($event)" (requestNextSong)="onNextSongRequested()"
    (requestPreviousSong)="onPreviousSongRequested()"></app-audio-player>
</div>