// Culori Spotify
$spotify-dark: #121212;
$spotify-light: #FFFFFF;
$spotify-gray: #B3B3B3;

.media-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $spotify-dark;
  color: $spotify-gray;
  height: 100px;
  width: 98%;
  padding: 20px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;

  .button-play-label {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
  }

  .skip-btn,
  .play-stop-btn {
    background: transparent;
    border: none;
    color: $spotify-gray;
    cursor: pointer;
    display: flex;
    align-items: center;

    mat-icon {
      font-size: 24px;
    }
  }

  .current-time,
  .duration {
    font-size: 14px;
    color: $spotify-gray;
  }

  .mat-mdc-slider {
    width: 100%;
    max-width: 100%;
    --mdc-slider-handle-color: $spotify-gray;
    --mdc-slider-focus-handle-color: $spotify-light;
    --mdc-slider-active-track-color: #252fe2;
    --mdc-slider-inactive-track-color: #B3B3B3;
    --mat-slider-hover-state-layer-color: rgba($spotify-gray, 0.35);
    --mat-slider-focus-state-layer-color: rgba($spotify-light, 0.3);
  }

  .slider {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 1000px;
  }

  .current-time {
    margin-right: 10px;
  }

  .duration {
    margin-left: 30px;
  }
}

.mainDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  width: 450px;


  @media (max-width: 800px) {
    flex: 3;
    min-width: auto;
    padding-right: 10px;
    width:150px
  }
}

.author {
  cursor: pointer;
}

.songName {
  color: $spotify-light;
  font-size: 16px;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.songDetails {
  display: flex;
  flex-direction: row;
  width: 40%;
  max-width: 450px;
}

.playbarContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}