<div class="media-footer"> 
    <div class="button-row">
    <div class="button-play-label">
      <button mat-button class="skip-btn"  >
        <mat-icon  mat-list-icon>skip_previous</mat-icon>
      </button>
   
      <button mat-button (click)="onPlay()"  class="play-stop-btn"  >
        <mat-icon mat-list-icon>{{buttonPlay?'play_arrow':'pause'}}</mat-icon>
      </button>
      <button  mat-button class="skip-btn" >
        <mat-icon mat-list-icon>skip_next</mat-icon>
      </button>
    </div>
    </div>
    <span style="color:white" matTooltip="{{ valueToDisplay }}" matTooltipPosition="after" class="tooltip-end">
      {{ valueToDisplay }}
    </span>
    <mat-slider [min]="min"
    [max]="duration"
    [step]="0.1"

    > 
    <input matSliderThumb [(ngModel)]="value">
    </mat-slider>
    <span style="color:white" matTooltip="{{ durationToDisplay }}" matTooltipPosition="after" >
      {{ durationToDisplay }}
    </span>
   
</div>
