.media-footer{
    margin:auto;
    padding: 20%;
    
    
    }
    .time-slider{
        display: table-cell;
        max-width: 600px;;
    }
    .button-row{
        display: table-cell;
        max-width: 600px;
    }
    .button-play-label{
        display: flex;  
    }
    .duration-style{
        right: 0;
        
    }