.media-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #121212; 
    color: #b3b3b3; 
    height: 60px;
    width: 98%;
    padding: 0 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.5); 
    z-index: 1000;
  
    .button-row {
      display: flex;
      align-items: center;
      flex: 1;
    }
  
    .button-play-label {
      display: flex;
      align-items: center;
    }
  
    .skip-btn, .play-stop-btn {
      background: transparent;
      border: none;
      color: #b3b3b3;
      cursor: pointer;
  
      mat-icon {
        font-size: 24px;
      }
    }
  
    .current-time, .duration {
      font-size: 14px;
      color: #b3b3b3;
    }
  
    mat-slider {
      flex: 1;
      margin: 0 10px;
      
      .mat-slider-thumb {
        background: #b3b3b3;
      }
  
      .mat-slider-track-fill {
        background: #b3b3b3;
      }
    }
  
    .current-time {
      margin-right: 10px;
    }
  
    .duration {
      margin-left: 10px;
    }
  }
  