<div class="album-banner">
    <img class="album-poster"
        src="https://artwork.anghcdn.co/webp/?id=181386623&size=320">
    <div class="album-info">
        <p class="album-album">Album</p>
        <p class="album-title">{{selectedAlbum?.album}}</p> 
        <p class="album-artist">{{selectedAlbum?.author}}</p>
      
    </div>
</div>
<div class="album-play">
    <button mat-button>
        <mat-icon>play_arrow</mat-icon>
    </button>
</div>
<div *ngFor="let song of songList; let i = index " class = "songDisplay">
    <p class="index">{{i+1}}</p>
    <img src={{song.imageUrl}}>
    <div class="mainDetails">
        <span class="songName">{{song.title}}</span>
        <span class="author"  >{{song.author}}</span>
    </div>
    
   
    <p class="duration">{{getFormattedDuration(song.duration)}}</p>
</div>